.Employees {
    margin-bottom: 35px;
    margin-top: 35px;
}

.add {
    color: #f03;
    margin-right: 10%;
    text-align: end;
}

.row {
    display: flex;
    justify-content: space-evenly;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.row.head {
    font-weight: bold;
}

.row.detail {
    cursor: pointer;
}

.row .id, .row .username,
.row .reviewee, .row .status, .row .reviewer {
    width: 100px;
}
.row .name {
    width: 350px;
}

.Employees .row:nth-child(odd), .Reviews .row:nth-child(odd) {
    background: #f033;
}